#header{
    height: 200px;
    background-color: #007bff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around
}


.logo {
    display: flex;
    justify-content: center;
}
.blinkyLogo{
    width: 150px;
    height: 100px;
}
.mascot{
    width: 100px;
    height: 100px;
}
.func{
    
}
.nav{
    margin-right: 20px;
}

.goalContainer{
    width: 80%;
    margin: auto;
}
